@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px; border:0px; list-style-type: none;}
body {font:12px Arial,宋体; line-height:22px; text-align:left; color: #000; background:#fff;}

a {outline-style:none; color:#003265; text-decoration:none;}
a:link{	color: #003265;}
a:hover {color: #517517; }
.list li { padding-left:1.2em; background-image: url(../images/list.gif); background-repeat: no-repeat; background-position: 5px 50%; line-height:26px;}

.pleft {float: left;}
.pright {float: right;}
.clear{clear:both;}
.clearfix:after {clear: both;content: " ";display: block; font-size: 0; height: 0;visibility: hidden;}
.clearfix {display: inline-table;}
/* Hides from IE-mac */
 * html .clearfix {height: 1%;} .clearfix {display: block;} 
/* End hide from IE-mac */ 
/* Hides from IE7 */
 *+html .clearfix{height: 1%;} .clearfix {display: block;} 
/* End hide from IE7 */

.header {width:100%; border-bottom:1px #fff solid; background:#fff; margin:0 auto; overflow:hidden;border-bottom: 1px solid #dbdbdb;}
.hea_1{width:1000px; height:45px;line-height: 45px; margin:0 auto; padding:5px 0 0;}
.hea_1 .hea_logo {padding-right: 20px;}
.hea_1 li{float:left; font-size:14px;}
.hea_1 > span{float:left; padding:25px 0 0; display:block; font-size:14px;}
.hea_1 a{color:#d24c31;}

.hea_2{width:1000px;  margin:0 auto; background:#fff; padding-bottom:15px;}
.hea_3{width:1000px;  margin:0 auto; padding-bottom:15px; overflow:hidden; background:#fff;}
.hea_3 ul{background:#000; display:block; height:28px;}
.hea_3 li{height:28px; font-size:14px; display:block; float:left; padding:0 15px; line-height:28px; border-right:1px #fff solid;}
.hea_3 li a{color:#fff;}

/*** account ***/
.account {
    padding-right: 16px;
}
.account a,.msg .loginbutton {
    font-weight: bold;
    padding: 5px 9px;
}

.account .loginbutton,.msg .loginbutton {
    background-color: #924242;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -2px 0 #6c2b2b inset;
    -moz-box-shadow: 0 -2px 0 #6c2b2b inset;
    -webkit-box-shadow: 0 -2px 0 #6c2b2b inset;
    color: #FFF;
    cursor: pointer;
}
.account .loginbutton:hover,.msg .loginbutton:hover {
    background-color: #851F1F;    
    box-shadow: 0 -2px 0 #5A1414 inset;
    -moz-box-shadow: 0 -2px 0 #5A1414 inset;
    -webkit-box-shadow: 0 -2px 0 #5A1414 inset;
}
.account .registerbutton {
    cursor: pointer;
}
.account Text {
    width: 75px;
}


.bor{float:left; margin:0 0 15px 0; width:990px;}

.cont{width:990px; margin:0 auto; padding:0 5px 15px; background:#fff; clear:both; overflow:hidden;}

.le_1{width:420px; float:left; padding:0 10px 0 5px;}
.ri_1{width:555px; float:left;}

.le_1 a{color:#003265;}
.le_1 h2{height: 30px;line-height: 30px;overflow: hidden;font-size:16px;padding-top: 4px;}
.le_1 .smalltext {border-bottom: 1px dotted #333333;padding-bottom: 8px;}
.le_1 span{color:#333; display:block; border-bottom:dashed 1px; padding:5px 0; margin-bottom:5px;}
.le_1 li{font-size:14px; line-height:26px;}

.le_2{width:320px; float:left; margin-right:15px;}

.h3{border:#c8c8c8 1px solid; border-right:#c8c8c8 5px solid; border-left:#d83b3c 5px solid; display:block; line-height:28px; height:28px; padding:0 10px; font-size:14px;}
.le_2,.le_5 ul{padding:10px 0 0 0;}
.le_2,.le_5 li{font-size:14px; line-height:26px;}

.cont_1{border:#c7c7c7 1px solid; border-bottom:#c7c7c7 7px solid; border-top:10px #ca0101 solid; margin-top:15px; padding:5px;}
.cont_1 h2{position:relative; left:30px; top:-25px; line-height:30px; background:#ca0101; font-size:14px;  -webkit-box-shadow: 3px 3px 5px #ccc; box-shadow: 3px 3px 5px #000; padding:0 15px; clear:none; float:left; color:#FFFF00;}
.cont_1 h2 a {color:#FFFF00;}
.cont_1a a{font-size:14px;}
.le_3{width:315px; float:left;  margin-right:15px;}
.le_3 ul{float:left; padding:25px 0 0; display:block;}
.le_3 li{float:left; font-size:14px;}
.le_3 span,.le_4 span{padding:0; display:block; font-size:12px; clear:both;}
.le_3 h4,.le_4 h4{font-size:14px; clear:both;}

.le_5{width:480px; float:left; margin-right:15px;}
.le_5 img{padding:10px 10px 0 0; float:left;}
.le_5 h4{font-size:14px; padding:15px 0 10px;}
.le_5 span{padding:0; display:block; font-size:12px;}
.le_5 ul{clear:both;}
.more{font-size: 12px;font-weight: normal; }


.cont_pl{width:998px; margin:0 auto 15px; clear:both; border:1px #d6d6d6 solid; font-size:14px; line-height:26px; background:#fff;}
.section_header_articlecontent {height:30px; line-height:30px; margin:0 0 10px 0; padding:0 15px; background:#f5f5f5; font-size:14px; border-bottom:1px #d6d6d6 solid;}

.bor1{border:none;}
.cl{clear:both;}
.ov{overflow:hidden;}
.le_2a{margin-right:0;}
.pad{padding-top:15px;}
.mar_b{margin:0 0 15px;}
.fl{float:left; padding:10px; font-size:14px;}


/*——底部开始*/
.footer {width:1000px; height:30px; overflow:hidden; margin:0 auto 15px; background:#be001c; clear:both; text-align:center; font-size:14px; line-height:30px; color:#fff; font-size:12px;}
.footer a{color:#fff;}
.footer1 {width:1000px; height:30px; overflow:hidden; margin:0 auto 15px; font-size:12px; text-align:center;}
.footer1 font{font-size:12px; margin:0 auto;}
/*——底部结束*/

.daoy{padding:10px; font-size:14px; line-height:26px;}
.pad_t{padding-top:0;}
.pad_le{ padding-left:35px;}


.border-green {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #d5f7d7; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: #d5f7d7; BORDER-TOP-STYLE: solid; BORDER-RIGHT-COLOR: #d5f7d7; BORDER-LEFT-STYLE: solid; BORDER-LEFT-COLOR: #d5f7d7
}
.border-gray {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: #cbcbcb; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: #cbcbcb; BORDER-TOP-STYLE: solid; BORDER-RIGHT-COLOR: #cbcbcb; BORDER-LEFT-STYLE: solid; BORDER-LEFT-COLOR: #cbcbcb
}
.border0 {
	BORDER-RIGHT-WIDTH: 0px !important; BORDER-TOP-WIDTH: 0px !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-LEFT-WIDTH: 0px !important
}
.green01 {
	COLOR: #125801 !important
}
.green02 {
	COLOR: #1e8904 !important
}
.green03 {
	COLOR: #258f06 !important
}
.fleft {
	FLOAT: left
}
.fright {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
#focus_news .bg {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
#focus_tip LI.current {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .left .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .left .hd H2 {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .left .hd H2 SPAN {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .center .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.btn-scroll-left {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.btn-scroll-right {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right-bg1 {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right-bg2 {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right .bd P STRONG {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right .bd P INPUT {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right .ft DL DT {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right .ft DL DD DIV {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap2 .right .ft DL DD DIV P {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap3 .left .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap3 .left .hd H2 {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap3 .left .hd H2 SPAN {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap3 .left .hd LI {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap3 .left .hd LI.current {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap3 .right .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap4 .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
#pic_tab_nav LI {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
#pic_tab_nav LI.current {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap5 .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.dotted {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap6 .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap6 .hd2 H3 {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap7 .left .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap7 .left .bd .wrap7-border {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap7 .center {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap8 .left .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap8 .right .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap8 .left .bd .wrap8-video DD {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap8 .right .bd .dotted {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap7 .right .hd {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap10 .right-bg2 {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap10 .right .ft DL DT {
	BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_green3.png) no-repeat
}
.wrap {
	BORDER-LEFT: #d5f7d7 1px solid; MARGIN: 0px auto; WIDTH: 959px
}
.wrap2 {
	BORDER-LEFT: #d5f7d7 1px solid; MARGIN: 0px auto; WIDTH: 959px
}
.wrap3 {
	MARGIN: 0px auto; WIDTH: 960px
}
.wrap4 {
	MARGIN: 0px auto; WIDTH: 960px
}
.wrap8 {
	MARGIN: 0px auto; WIDTH: 960px
}
.wrap5 {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; MARGIN: 0px auto; WIDTH: 958px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap6 {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; MARGIN: 0px auto; WIDTH: 958px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap7 {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; MARGIN: 0px auto; WIDTH: 958px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.box10 {
	HEIGHT: 10px; CLEAR: both; OVERFLOW: hidden
}
#focus_news {
	COLOR: #333; BORDER-TOP: #d5f7d7 1px solid
}
#focus_news .bd {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
#focus_news .ft {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
#focus_news .bg {
	BACKGROUND-POSITION: -520px -200px
}
#focus_news .dotted {
	MARGIN: 6px 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden
}
.wrap .left {
	WIDTH: 389px; FLOAT: left
}
.wrap .left H2 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体"; FONT-SIZE: 18px; FONT-WEIGHT: normal; PADDING-TOP: 15px
}
.wrap .left P {
	LINE-HEIGHT: 18px; TEXT-INDENT: 24px
}
.wrap .left LI {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.wrap .left LI STRONG {
	COLOR: #757575
}
.wrap .left LI A {
	COLOR: #333
}
.wrap .right {
	WIDTH: 420px; FLOAT: right
}
#focus_pic {
	 PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 280px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#focus_big {
	POSITION: relative; WIDTH: 420px; FLOAT: left; HEIGHT: 280px
}
#focus_big LI IMG {
	WIDTH: 420px; FLOAT: left; HEIGHT: 280px
}
#focus_tip {
	WIDTH: 120px; FLOAT: right; HEIGHT: 280px
}
#focus_tip LI {
	PADDING-LEFT: 8px; WIDTH: 120px; MARGIN-BOTTOM: 5px; FLOAT: right; HEIGHT: 90px; CURSOR: pointer
}
#focus_tip LI.current {
	BACKGROUND-POSITION: -740px -430px
}
#focus_tip LI IMG {
	WIDTH: 120px; FLOAT: right; HEIGHT: 90px
}
#focus_text_bg {
	Z-INDEX: 1; POSITION: absolute; FILTER: alpha(opacity=60); WIDTH: 420px; BOTTOM: 0px; BACKGROUND: #000; HEIGHT: 36px; LEFT: 0px; opacity: 0.6
}
#focus_text {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 420px; BOTTOM: 0px; HEIGHT: 36px; LEFT: 0px
}
#focus_text LI {
	LINE-HEIGHT: 36px; PADDING-LEFT: 10px; WIDTH: 420px; HEIGHT: 36px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#focus_text LI A {
	COLOR: #fff
}
.wrap2 .left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 359px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 278px; PADDING-TOP: 0px
}
.wrap2 .left .hd {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 24px; MARGIN-TOP: 5px; WIDTH: 359px; BACKGROUND-POSITION: -360px -520px; HEIGHT: 24px
}
.wrap2 .left .hd H2 {
	PADDING-LEFT: 6px; DISPLAY: inline; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/green_li.jpg) no-repeat left top; FLOAT: left; COLOR: #2c9407; FONT-SIZE: 14px; FONT-WEIGHT: normal; MARGIN-RIGHT: 2px
}
.wrap2 .left .hd H2 SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/green_li.jpg) no-repeat right top
}
.wrap2 .left .hd H2 A {
	COLOR: #2c9407
}
.wrap2 .left .hd H2.current {
	PADDING-LEFT: 6px; DISPLAY: inline; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/green_cur.jpg) no-repeat left top; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; MARGIN-RIGHT: 2px
}
.wrap2 .left .hd H2.current SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/green_cur.jpg) no-repeat right top
}
.wrap2 .left .hd H2.current A {
	COLOR: #fff
}
.wrap2 .left .bd H3 {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
.wrap2 .left .bd P {
	LINE-HEIGHT: 18px; TEXT-INDENT: 24px; COLOR: #909090
}
.wrap2 .left .ft UL {
	MARGIN-TOP: 5px
}
.wrap2 .left .ft LI {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 6px
}
.wrap2 .center {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 308px; FLOAT: left; HEIGHT: 277px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap2 .center .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 9px; WIDTH: 290px; PADDING-RIGHT: 9px; BACKGROUND-POSITION: left -145px; HEIGHT: 30px; PADDING-TOP: 0px
}
.wrap2 .center .hd H2 {
	FLOAT: left; FONT-SIZE: 14px
}
.wrap2 .center .bd {
	PADDING-BOTTOM: 0px; MARGIN: 0px 10px; PADDING-LEFT: 0px; WIDTH: 288px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 10px
}
.wrap2 .center .bd IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 90px; FLOAT: left; HEIGHT: 60px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap2 .center .bd DL {
	LINE-HEIGHT: 20px; WIDTH: 185px; FLOAT: right
}
.wrap2 .center .bd DT {
	WIDTH: 185px; FLOAT: right
}
.wrap2 .center .bd DD {
	TEXT-INDENT: 17px; WIDTH: 185px; FLOAT: right; COLOR: #333
}
.wrap2 .center .ft .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 6px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap2 .center .ft LI.dotted {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap2 .center .ft UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 288px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 0px
}
.wrap2 .center .ft LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; WIDTH: 288px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 4px
}
.wrap2 .center .ft LI.s {
	MARGIN-TOP: 8px; BORDER-TOP: #58b710 1px dotted; PADDING-TOP: 12px
}
.wrap2 .center .bd LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; WIDTH: 288px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 4px
}
.wrap2 .center .bd LI.s {
	MARGIN-TOP: 8px; BORDER-TOP: #58b710 1px dotted; PADDING-TOP: 12px
}
.btn-scroll-left {
	BACKGROUND-POSITION: right -200px
}
.btn-scroll-right {
	BACKGROUND-POSITION: right -260px
}
#btn_left {
	MARGIN-TOP: 22px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_right {
	MARGIN-TOP: 22px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_left_4 {
	MARGIN-TOP: 22px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_right_4 {
	MARGIN-TOP: 22px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#scroll_scr {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; WIDTH: 296px; PADDING-RIGHT: 6px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 6px
}
#scroll_scr_2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; WIDTH: 296px; PADDING-RIGHT: 6px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 6px
}
#scr_img {
	WIDTH: 272px; FLOAT: left; HEIGHT: 116px; OVERFLOW: hidden
}
#scr_img_22 {
	WIDTH: 272px; FLOAT: left; HEIGHT: 116px; OVERFLOW: hidden
}
#scr_img UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#scr_img_22 UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#scr_img LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 130px; PADDING-RIGHT: 3px; FLOAT: left; HEIGHT: 116px; PADDING-TOP: 0px
}
#scr_img_22 LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 130px; PADDING-RIGHT: 3px; FLOAT: left; HEIGHT: 116px; PADDING-TOP: 0px
}
#scr_img LI IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 128px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 80px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
#scr_img_22 LI IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 128px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 80px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap2 .right {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 248px; FLOAT: right; HEIGHT: 277px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap2 .right-bg1 {
	BACKGROUND-POSITION: -260px -200px
}
.wrap2 .right-bg2 {
	BACKGROUND-POSITION: left -200px
}
.wrap2 .right .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 0px
}
.wrap2 .right .hd H2 {
	FONT-SIZE: 14px
}
.wrap2 .right .bd H3 {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; TEXT-INDENT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.wrap2 .right .bd LI {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.wrap2 .right .bd .huodong {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 228px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 5px
}
.wrap2 .right .bd .huodong LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.wrap2 .right .bd P {
	PADDING-BOTTOM: 8px; MARGIN: 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.wrap2 .right .bd P STRONG {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND-POSITION: left -175px; PADDING-TOP: 4px
}
.wrap2 .right .bd P INPUT {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 37px; BACKGROUND-POSITION: -300px -520px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.wrap2 .right .bd UL.ihuanbao {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 240px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 4px
}
.wrap2 .right .bd .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 6px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap2 .right .top {
	PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-LEFT: 0px; WIDTH: 228px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 10px
}
.wrap2 .right .top IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 90px; FLOAT: left; HEIGHT: 60px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap2 .right .top DL {
	LINE-HEIGHT: 20px; WIDTH: 125px; FLOAT: right
}
.wrap2 .right .top DD {
	TEXT-INDENT: 24px; COLOR: #333
}
.wrap2 .right .ft .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 2px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap2 .right .ft UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 243px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.wrap2 .right .ft UL LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.wrap2 .right .ft DL {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 17px; MARGIN: 0px 10px; PADDING-LEFT: 0px; WIDTH: 228px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 5px
}
.wrap2 .right .ft DL.s {
	MARGIN-TOP: 8px; PADDING-TOP: 10px
}
.wrap2 .right .ft DL DT {
	TEXT-ALIGN: center; WIDTH: 86px; BACKGROUND-POSITION: -200px -520px; FLOAT: left; HEIGHT: 17px; COLOR: #fff
}
.wrap2 .right .ft DL DD {
	POSITION: relative; PADDING-LEFT: 8px; FLOAT: left; COLOR: #4cae0d
}
.wrap2 .right .ft DL DD DIV {
	POSITION: absolute; PADDING-BOTTOM: 5px; WIDTH: 145px; BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_group_bg.gif) no-repeat left bottom; COLOR: #000; TOP: -9999px; LEFT: -9999px
}
.wrap2 .right .ft DL DD DIV P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 130px; PADDING-RIGHT: 5px; BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_group_bg.gif) no-repeat left top; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 5px
}
.wrap3 .left {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 698px; FLOAT: left; HEIGHT: 238px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap3 .left .hd {
	PADDING-BOTTOM: 14px; PADDING-LEFT: 4px; WIDTH: 690px; PADDING-RIGHT: 4px; BACKGROUND-POSITION: left -551px; HEIGHT: 29px; PADDING-TOP: 0px
}
.wrap3 .left .hd H2 {
	LINE-HEIGHT: 24px; MARGIN: 5px 10px 0px 2px; PADDING-LEFT: 10px; DISPLAY: inline; BACKGROUND-POSITION: left -480px; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px
}
.wrap3 .left .hd H2 SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND-POSITION: right -380px
}
.wrap3 .left .hd H2 A {
	COLOR: #fff
}
.wrap3 .left .hd UL {
	MARGIN-TOP: 6px; FLOAT: right
}
.wrap3 .left .hd LI {
	BORDER-BOTTOM: #5bb518 1px solid; BORDER-LEFT: #5bb518 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline; BACKGROUND-POSITION: left -55px; FLOAT: left; HEIGHT: 17px; BORDER-TOP: #5bb518 1px solid; CURSOR: pointer; MARGIN-RIGHT: 3px; BORDER-RIGHT: #5bb518 1px solid; PADDING-TOP: 0px
}
.wrap3 .left .hd LI.current {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND-POSITION: center -600px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.wrap3 .left .hd LI.more {
	CURSOR: auto
}
.wrap3 .left .bd .ditan-tab-con {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 13px; WIDTH: 206px; PADDING-RIGHT: 13px; FLOAT: left; HEIGHT: 87px; PADDING-TOP: 5px
}
.wrap3 .left .bd .ditan-tab-con IMG {
	BORDER-RIGHT-WIDTH: 1px; WIDTH: 110px; FLOAT: left; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 85px; BORDER-LEFT-WIDTH: 1px
}
.wrap3 .left .bd .ditan-tab-con DL {
	WIDTH: 84px; FLOAT: right
}
.wrap3 .left .bd .ditan-tab-con DT {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.wrap3 .left .bd .ditan-tab-con DD {
	LINE-HEIGHT: 20px; COLOR: #333
}
.wrap3 .right {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 248px; FLOAT: right; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap3 .right .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BACKGROUND-POSITION: left -145px; PADDING-TOP: 0px
}
.wrap3 .right .hd H2 {
	FONT-SIZE: 14px
}
.wrap3 .right .bd UL {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 240px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 4px
}
.wrap3 .right .bd LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.wrap4 .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 15px; WIDTH: 1200px; PADDING-RIGHT: 15px; BACKGROUND-POSITION: left -5px; HEIGHT: 30px; COLOR: #fff; PADDING-TOP: 0px
}
.wrap4 .hd A {
	COLOR: #fff
}
.wrap4 .hd H2 {
	FLOAT: left; FONT-SIZE: 14px
}
.wrap4 .bd {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap4 .bd .left {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 452px; PADDING-RIGHT: 8px; FLOAT: left; PADDING-TOP: 8px
}
.wrap4 .bd .left IMG {
	BORDER-RIGHT-WIDTH: 1px; WIDTH: 450px; FLOAT: left; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
.wrap4 .bd .left P {
	TEXT-ALIGN: center; MARGIN-TOP: 8px
}
.wrap4 .bd .right {
	WIDTH: 486px; FLOAT: right
}
.wrap4 .bd .right LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; WIDTH: 142px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 8px
}
.wrap4 .bd .right LI IMG {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 140px; MARGIN-BOTTOM: 8px; FLOAT: left; HEIGHT: 105px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
#pic_tab_nav LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; MARGIN-TOP: 4px; WIDTH: 88px; BACKGROUND-POSITION: -100px -510px; FLOAT: left; HEIGHT: 26px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
#pic_tab_nav LI.current {
	BACKGROUND-POSITION: left -510px; COLOR: #1e8904
}
.wrap4 .bd .pic-tab {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 15px
}
#btn_left_1 {
	MARGIN-TOP: 60px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_left_2 {
	MARGIN-TOP: 60px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_left_3 {
	MARGIN-TOP: 60px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_right_1 {
	MARGIN-TOP: 60px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_right_2 {
	MARGIN-TOP: 60px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
#btn_right_3 {
	MARGIN-TOP: 60px; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 43px; CURSOR: pointer
}
.wrap4 .bd .pic-tab-con {
	MARGIN: 0px 3px; WIDTH: 910px; DISPLAY: inline; FLOAT: left; HEIGHT: 180px; OVERFLOW: hidden
}
.wrap4 .bd .pic-tab-con UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.wrap4 .bd .pic-tab-con UL LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 122px; PADDING-RIGHT: 4px; FLOAT: left; HEIGHT: 180px; PADDING-TOP: 0px
}
.wrap4 .bd .pic-tab-con UL LI IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 120px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 160px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap5 .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 9px; WIDTH: 940px; PADDING-RIGHT: 9px; BACKGROUND-POSITION: left -110px; HEIGHT: 30px; PADDING-TOP: 0px
}
.wrap5 .hd H2 {
	FLOAT: left; FONT-SIZE: 14px
}
.wrap5 .bd DL {
	LINE-HEIGHT: 24px; FLOAT: left; PADDING-TOP: 10px
}
.wrap5 .bd DT {
	PADDING-LEFT: 20px; WIDTH: 60px; FLOAT: left
}
.wrap5 .bd DL DD {
	WIDTH: 860px; FLOAT: left
}
.wrap5 .ft .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 8px 20px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap5 .ft DL {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; WIDTH: 918px; PADDING-RIGHT: 20px; PADDING-TOP: 8px
}
.wrap6 .hd {
	WIDTH: 958px; BACKGROUND-POSITION: left -630px; HEIGHT: 30px
}
.wrap6 .hd H2 {
	LINE-HEIGHT: 30px; TEXT-INDENT: 15px; COLOR: #1e8904; FONT-SIZE: 14px
}
.wrap6 .bd {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 2px
}
.wrap6 .bd LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 142px; PADDING-RIGHT: 8px; FLOAT: left; HEIGHT: 130px; PADDING-TOP: 8px
}
.wrap6 .bd LI IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 140px; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: 105px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap6 .bd2 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.wrap6 .hd2 H3 {
	LINE-HEIGHT: 30px; TEXT-INDENT: 20px; MARGIN: 5px 0px; BACKGROUND-POSITION: -730px -460px; COLOR: #1e8904; FONT-SIZE: 14px
}
.wrap6 .bd2 LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 102px; PADDING-RIGHT: 8px; FLOAT: left; HEIGHT: 60px; PADDING-TOP: 8px
}
.wrap6 .bd2 LI IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 100px; MARGIN-BOTTOM: 6px; FLOAT: left; HEIGHT: 40px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap7 .left {
	WIDTH: 280px; FLOAT: left
}
.wrap7 .left .hd {
	BACKGROUND-POSITION: left -680px; HEIGHT: 33px
}
.wrap7 .left .hd H2 {
	LINE-HEIGHT: 33px; TEXT-INDENT: 15px; COLOR: #1e8904; FONT-SIZE: 14px
}
.wrap7 .left .hd H2 A {
	COLOR: #1e8904
}
.wrap7 .left .bd .wrap7-video {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 15px; WIDTH: 250px; PADDING-RIGHT: 15px; PADDING-TOP: 11px
}
.wrap7 .left .bd .wrap7-video IMG {
	BORDER-BOTTOM: #c1cbd7 1px solid; BORDER-LEFT: #c1cbd7 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 65px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 50px; BORDER-TOP: #c1cbd7 1px solid; BORDER-RIGHT: #c1cbd7 1px solid; PADDING-TOP: 2px
}
.wrap7 .left .bd .wrap7-video DL {
	LINE-HEIGHT: 18px; WIDTH: 170px; FLOAT: right
}
.wrap7 .left .bd .wrap7-video DD {
	LINE-HEIGHT: 20px; COLOR: #888
}
.wrap7 .left .bd .wrap7-border {
	MARGIN: 0px auto; WIDTH: 263px; BACKGROUND-POSITION: left -730px; HEIGHT: 1px; OVERFLOW: hidden
}
.wrap7 .center {
	BORDER-LEFT: #d5f7d7 1px solid; PADDING-BOTTOM: 9px; PADDING-LEFT: 9px; WIDTH: 402px; PADDING-RIGHT: 9px; BACKGROUND-POSITION: -300px -680px; FLOAT: left; BORDER-RIGHT: #d5f7d7 1px solid; PADDING-TOP: 9px
}
.wrap7 .right {
	WIDTH: 256px; FLOAT: left
}
.wrap7 .right .hd {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: -300px -716px; HEIGHT: 33px; PADDING-TOP: 0px
}
.wrap7 .right .paihang .hd {
	BACKGROUND-POSITION: -300px -715px; HEIGHT: 34px
}
.wrap7 .right .hd H2 {
	LINE-HEIGHT: 33px; FONT-SIZE: 14px
}
.wrap7 .right .tuijian .bd {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 20px
}
.wrap7 .right .tuijian .bd LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; WIDTH: 110px; PADDING-RIGHT: 6px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.wrap7 .right .tuijian .bd LI IMG {
	BORDER-BOTTOM: #c1cbd7 1px solid; BORDER-LEFT: #c1cbd7 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 106px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: 77px; BORDER-TOP: #c1cbd7 1px solid; BORDER-RIGHT: #c1cbd7 1px solid; PADDING-TOP: 1px
}
.wrap7 .right .bd LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
.wrap7 .right .paihang OL {
	MARGIN-TOP: 10px
}
.wrap7 .right .paihang LI STRONG {
	PADDING-RIGHT: 15px; FONT-FAMILY: Tohoma; COLOR: #999; FONT-SIZE: 10px
}
.wrap8 .left {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 691px; FLOAT: left; HEIGHT: 434px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap8 .left .hd {
	BACKGROUND-POSITION: left -145px; HEIGHT: 29px
}
.wrap8 .left .hd H2 {
	LINE-HEIGHT: 29px; TEXT-INDENT: 15px; COLOR: #1e8904; FONT-SIZE: 14px
}
.wrap8 .left .hd H2 A {
	COLOR: #1e8904
}
.wrap8 .left .bd {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.wrap8 .left .bd .wrap8-video {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 126px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 5px
}
.wrap8 .left .bd .wrap8-video IMG {
	BORDER-BOTTOM: #c1cbd7 1px solid; BORDER-LEFT: #c1cbd7 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 120px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 5px; HEIGHT: 90px; BORDER-TOP: #c1cbd7 1px solid; BORDER-RIGHT: #c1cbd7 1px solid; PADDING-TOP: 2px
}
.wrap8 .left .bd .wrap8-video DT {
	LINE-HEIGHT: 20px
}
.wrap8 .left .bd .wrap8-video DD {
	LINE-HEIGHT: 22px; TEXT-INDENT: 10px; BACKGROUND-POSITION: -740px -908px; COLOR: #888
}
.wrap8 .right {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 255px; FLOAT: right; HEIGHT: 434px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap8 .right .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND-POSITION: left -145px; HEIGHT: 29px; PADDING-TOP: 0px
}
.wrap8 .right .hd H2 {
	FLOAT: left; COLOR: #1e8904; FONT-SIZE: 14px
}
.wrap8 .right .hd H2 A {
	COLOR: #1e8904
}
.wrap8 .right .bd {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.wrap8 .right .bd .jiabin {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 20px; PADDING-LEFT: 6px; WIDTH: 110px; PADDING-RIGHT: 6px; FLOAT: left; PADDING-TOP: 6px
}
.wrap8 .right .bd .jiabin IMG {
	BORDER-BOTTOM: #c1cbd7 1px solid; BORDER-LEFT: #c1cbd7 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 106px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 2px; HEIGHT: 77px; BORDER-TOP: #c1cbd7 1px solid; BORDER-RIGHT: #c1cbd7 1px solid; PADDING-TOP: 1px
}
.wrap8 .right .bd .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap8 .right .ft LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
.wrap9 {
	MARGIN: 0px auto; WIDTH: 960px; CLEAR: both
}
.wrap9 .left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 360px; PADDING-RIGHT: 15px; BACKGROUND: url(http://img1.gtimg.com/news/pics/hv1/45/134/6120/45096540.gif) no-repeat; FLOAT: left; HEIGHT: 100px; PADDING-TOP: 70px
}
.wrap9 .left H2 {
	WIDTH: 100%; FONT: 18px/36px "黑体"; FLOAT: left
}
.wrap9 .left H2 A {
	COLOR: #1e8904
}
.wrap9 .left P {
	LINE-HEIGHT: 20px; WIDTH: 100%; FLOAT: left
}
.wrap9 .left P A {
	COLOR: #1e8904
}
.wrap9 .right {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 102px; WIDTH: 453px; PADDING-RIGHT: 15px; BACKGROUND: url(http://mat1.gtimg.com/news//2010green/lvwen.jpg) no-repeat; FLOAT: right; HEIGHT: 143px; PADDING-TOP: 27px
}
.wrap9 .right .hd {
	WIDTH: 100%; FLOAT: left
}
.wrap9 .right .hd H3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 53px; FLOAT: left; HEIGHT: 18px; COLOR: #fff; FONT-SIZE: 14px
}
.wrap9 .right .hd H2 {
	TEXT-INDENT: 12px; FONT: 18px/24px "黑体"; FLOAT: left
}
.wrap9 .right .hd H2 A {
	COLOR: #1e8904
}
.wrap9 .right .bd {
	MARGIN-TOP: 5px; WIDTH: 100%; FLOAT: left
}
.wrap9 .right .bd P {
	LINE-HEIGHT: 20px; WIDTH: 100%; FLOAT: left
}
.wrap9 .right .bd P A {
	COLOR: #1e8904
}
.wrap9 .right .ft {
	MARGIN-TOP: 10px; WIDTH: 100%; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/dotted.gif) repeat-x 50% top; FLOAT: left; PADDING-TOP: 12px
}
.wrap9 .right .ft P {
	LINE-HEIGHT: 20px; WIDTH: 100%; FLOAT: left; COLOR: #1e8904
}
.wrap9 .right .ft P A {
	COLOR: #333
}
.wrap10 {
	MARGIN: 0px auto; WIDTH: 960px; CLEAR: both
}
.wrap10 .right {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 248px; FLOAT: right; HEIGHT: 277px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap10 .right-bg1 {
	BACKGROUND-POSITION: -260px -200px
}
.wrap10 .right-bg2 {
	BACKGROUND-POSITION: left -200px
}
.wrap10 .right .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 0px
}
.wrap10 .right .hd H2 {
	FONT-SIZE: 14px
}
.wrap10 .right .bd H3 {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; TEXT-INDENT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.wrap10 .right .bd LI {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.wrap10 .right .bd .huodong {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 228px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 5px
}
.wrap10 .right .bd .huodong LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.wrap10 .right .bd P {
	PADDING-BOTTOM: 8px; MARGIN: 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.wrap10 .right .bd P STRONG {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND-POSITION: left -175px; PADDING-TOP: 4px
}
.wrap10 .right .bd P INPUT {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 37px; BACKGROUND-POSITION: -300px -520px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.wrap10 .right .bd UL.ihuanbao {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 240px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 4px
}
.wrap10 .right .bd .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 6px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap10 .right .top {
	PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-LEFT: 0px; WIDTH: 228px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 10px
}
.wrap10 .right .top IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 90px; FLOAT: left; HEIGHT: 60px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap10 .right .top DL {
	LINE-HEIGHT: 20px; WIDTH: 125px; FLOAT: right
}
.wrap10 .right .top DD {
	TEXT-INDENT: 24px; COLOR: #333
}
.wrap10 .right .ft .dotted {
	PADDING-BOTTOM: 0px; MARGIN: 2px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; HEIGHT: 1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.wrap10 .right .ft UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 243px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.wrap10 .right .ft UL LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.wrap10 .right .ft DL {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 17px; MARGIN: 0px 10px; PADDING-LEFT: 0px; WIDTH: 228px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 5px
}
.wrap10 .right .ft DL.s {
	MARGIN-TOP: 8px; PADDING-TOP: 10px
}
.wrap10 .right .ft DL DT {
	TEXT-ALIGN: center; WIDTH: 86px; BACKGROUND-POSITION: -200px -520px; FLOAT: left; HEIGHT: 17px; COLOR: #fff
}
.wrap10 .right .ft DL DD {
	POSITION: relative; PADDING-LEFT: 8px; FLOAT: left; COLOR: #4cae0d
}
.wrap10 .right .ft DL DD DIV {
	POSITION: absolute; PADDING-BOTTOM: 5px; WIDTH: 145px; BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_group_bg.gif) no-repeat left bottom; COLOR: #000; TOP: -9999px; LEFT: -9999px
}
.wrap10 .right .ft DL DD DIV P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 130px; PADDING-RIGHT: 5px; BACKGROUND: url(http://mat1.gtimg.com/news//2010green/qq_group_bg.gif) no-repeat left top; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 5px
}
.wrap10 .left {
	BORDER-BOTTOM: #d5f7d7 1px solid; BORDER-LEFT: #d5f7d7 1px solid; WIDTH: 698px; FLOAT: left; HEIGHT: 277px; BORDER-TOP: #d5f7d7 1px solid; BORDER-RIGHT: #d5f7d7 1px solid
}
.wrap10 .left .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 14px; WIDTH: 900px; PADDING-RIGHT: 14px; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/zhuanjiapinglun.jpg) no-repeat; HEIGHT: 29px; PADDING-TOP: 0px
}
.wrap10 .left .hd H2 {
	FLOAT: left; COLOR: #fff; FONT-SIZE: 14px
}
.wrap10 .left .hd .more {
	FLOAT: right; COLOR: #333
}
.wrap10 .left .bd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 908px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 10px
}
.wrap10 .left .bd .zhuanjia-left {
	WIDTH: 345px; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-left .top {
	WIDTH: 100%; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-left .top IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 90px; FLOAT: left; HEIGHT: 60px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap10 .left .bd .zhuanjia-left .top H3 {
	LINE-HEIGHT: 22px; WIDTH: 243px; FLOAT: right
}
.wrap10 .left .bd .zhuanjia-left .top H3 A {
	COLOR: #333
}
.wrap10 .left .bd .zhuanjia-left .top P {
	LINE-HEIGHT: 20px; WIDTH: 243px; FLOAT: right
}
.wrap10 .left .bd .zhuanjia-left .top P A {
	COLOR: #258f06
}
.wrap10 .left .bd .zhuanjia-left .bottom {
	WIDTH: 100%; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-left .bottom UL {
	MARGIN-TOP: 10px; WIDTH: 100%; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-left .bottom LI {
	LINE-HEIGHT: 22px; WIDTH: 100%; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-left .bottom LI SPAN {
	FLOAT: right; COLOR: #909090
}
.wrap10 .left .bd .zhuanjia-right {
	WIDTH: 300px; FLOAT: right
}
.wrap10 .left .bd .zhuanjia-right .top {
	WIDTH: 100%; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-right .top H3 {
	BORDER-LEFT: #3fa40b 4px solid; LINE-HEIGHT: 15px; PADDING-LEFT: 9px; FLOAT: left; HEIGHT: 15px
}
.wrap10 .left .bd .zhuanjia-right .top UL {
	WIDTH: 100%; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-right .top LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; MARGIN: 4px 0px; WIDTH: 75px; FLOAT: left
}
.wrap10 .left .bd .zhuanjia-right .top LI IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 50px; HEIGHT: 50px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.wrap10 .left .bd .zhuanjia-right .bottom {
	MARGIN-TOP: 5px; WIDTH: 100%; BACKGROUND: url(http://mat1.gtimg.com/news/2010green/dotted.gif) repeat-x 50% top; FLOAT: left; PADDING-TOP: 5px
}
.wrap10 .left .bd .zhuanjia-right .bottom P {
	LINE-HEIGHT: 22px; WIDTH: 100%; FLOAT: left
}



<!--
.rollBox{width:970px;overflow:hidden;padding:5px 0 5px 6px; clear:both;}
.rollBox .Cont{width:960px;overflow:hidden;float:left;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:240px;float:left;text-align:center;}
.rollBox .Cont .pic img{padding:4px;background:#fff;border:1px solid #ccc;display:block;margin:0 auto;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a{color:#003265;text-decoration:none;}
.rollBox .Cont a:hover{color:#517517;}
.rollBox #List1,.rollBox #List2{float:left;}
-->


/*--------------- login modal -----------------*/
#lean_overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.loginmodal {
    width: 545px;
    background: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.loginmodal .modaletools {
    text-align: right;
}
.loginmodal .modaletools a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    width: 26px;
    text-align: center;
    text-indent: 1px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    box-shadow: 2px 3px 7px #000;
    -moz-box-shadow: 2px 3px 7px #000;
    -webkit-box-shadow: 2px 3px 7px #000;
    background-color: #FFF;
    margin: -8px -8px 0 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.loginmodal form {
    padding: 0 40px 30px;
}
.loginmodal form strong {
    font-size: 22px;
    font-family: "Microsoft YaHei";
    color: #797373;
}

.loginmodal .login {
    width: 228px;
}

.loginmodal form .username {
    background: url("../images/bg_username.png") no-repeat scroll 0 0 #c4c4c4;
}
.loginmodal form .password {
    background: url("../images/bg_password.png") no-repeat scroll 0 0 #c4c4c4;
}
.loginmodal form .txtfield {
    height: 34px;
    line-height: 34px;
    border: 1px solid #cccccc;
    color: #c7c7c7;
    margin: 14px 0 0 0;
}

.loginmodal form .oninput {
    background-color: #ffca3c;
    border: 1px solid #ffca3c;
}

.loginmodal form .txtfield input {
    height: 24px;
    line-height: 24px;
    width: 184px;
    font-size: 14px;
    border: none;
    padding: 5px 0 5px 3px;
    margin-left: 39px;
    background-color: #FFF;
    color: #c7c7c7;    
}

.loginmodal form .forgetmsg {
    padding: 13px 0;
}
.loginmodal form .forgetmsg a {
    font-size: 12px;
    color: #8a5b22;    
}
.loginmodal form .inputSub {
    height: 38px;
    line-height: 38px;
    width: 100%;
    background-color: #c93b30;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -4px 0 #a91813 inset;
    -moz-box-shadow: 0 -4px 0 #a91813 inset;
    -webkit-box-shadow: 0 -4px 0 #a91813 inset;
    border: none;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}


.loginmodal form .reg {
    width: 160px;
    padding-top: 36px;
    color: #666;
}
.loginmodal form .regbutton {
    height: 30px;
    line-height: 30px;
    width: 100px;
    background-color: #eeb829;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -3px 0 #e48d10 inset;
    -moz-box-shadow: 0 -3px 0 #e48d10 inset;
    -webkit-box-shadow: 0 -3px 0 #e48d10 inset;
    border: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}
/*--------------- login modal -----------------*/


/*** pl_list ***/
.pl_list .left {
    float: left;
}
.pl_list .right {
    float: right;
}

.pl_list .section_content {
    padding: 20px 12px;
}
.pl_list .avatar {
    padding-right: 12px;
}
.pl_list .avatar img {
    height: 64px;
    width: 64px;
}

.pl_list .inputarea {
    width: 892px;
}
.pl_list .inputarea .retext {
    border: 1px solid #d4d4d4;
    padding: 0 5px 5px;
    box-shadow: 0 1px 0 0 #e9e8e8 inset;
    -moz-box-shadow: 0 1px 0 0 #e9e8e8 inset;
    -webkit-box-shadow: 0 1px 0 0 #e9e8e8 inset;    
}
.pl_list .inputarea .retext .state {
    padding: 25px 0 20px;
    text-align: center;
}
.pl_list .inputarea .subtool {
    height: 30px;
    line-height: 30px;
    padding: 4px 0;
    font-size: 12px;
    color: #a5a5a5;
}
.pl_list .inputarea .subtool a {
    color: #a5a5a5;   
}
.pl_list .inputarea .subtool .submitbutton {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #FFF;
    background-color: #ba4242;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 -3px 0 #911a1a inset;
    -moz-box-shadow: 0 -3px 0 #911a1a inset;
    -webkit-box-shadow: 0 -3px 0 #911a1a inset;
    padding: 4px 15px 5px;
    cursor: pointer;
}
.pl_list .inputarea .subtool .dissubmitbutton {
    background-color: #C8C8C8;
    box-shadow: 0 -3px 0 #B2B2B2 inset;
    -moz-box-shadow: 0 -3px 0 #B2B2B2 inset;
    -webkit-box-shadow: 0 -3px 0 #B2B2B2 inset;
}
.pl_list .inputarea textarea {
    width: 100%;
    border: none;
    background-color: #FFF;
    margin-top: 5px;
}
.pl_list .inputarea .subtool .facebutton {
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
    background: url("../images/bg_facebutton.png") no-repeat scroll 0 5px transparent;
}
.pl_list .inputarea .subtool .facebutton:hover {
    background: url("../images/bg_facebuttonhover.png") no-repeat scroll 0 5px transparent;    
}

.pl_list .comment_list li {
    padding: 14px 0 10px;
    border-bottom: 1px solid #e3e3e3;
}
.pl_list .comment_list .userpic img {
    width: 64px;
    height: 64px;
}
.pl_list .comment_list .comment {
    width: 888px;
}
.pl_list .comment_list .property strong {
    color: #a40000;
}
.pl_list .comment_list .property strong a {
    color: #a40000;
}
.pl_list .comment_list .property em {
    color: #8a5b22;
    font-style: normal;
    font-size: 12px;
}
.pl_list .comment_list .pltext {
    padding: 10px 0;
}
.pl_list .comment_list .interaction {
    text-align: right;
    font-size: 12px;
}
.pl_list .comment_list .interaction a {
    color: #666666;
    font-size: 12px;
}

.pl_list .readallpl {
    height: 24px;
    line-height: 24px;
    margin-top: -1px;
    border-top: 1px solid #FFF;
}
.pl_list .readallpl a {
    font-size: 12px;
    color: #a00000;
    display: block;
    background-color: #ffdcdc;    
}
.pl_list .readallpl a:hover {
    background-color: #f8baba;    
}

/*****  *****/
#flexisel_live0, #flexisel_live1 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:200px;
    max-height:150px;
}
.nbs-flexisel-item .title {
    height: 26px;
    line-height: 26px;
    text-align: center;
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 48px;
    height: 48px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: -3px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -3px;
    background: url(../images/button-next.png) no-repeat;
}

/** 第三方社交样式 **/
.eilogintitle
{
    /*display:inline-block;*/
    padding-top:10px;
}
.header .account .toploginex span,.header .hea_1 .account .toploginex span,.header .hea_1 .account .toploginex
{
    padding-top:0;
    padding-bottom: 0; 
}
.header .hea_1 .account .toploginex
{
    float:none;
    line-height:normal;
    display:inline-block;
}
.header .hea_1 .account .toploginex > span
{
    padding-top:10px;
}
.poploginex .eilogintitle
{
   padding-top:0; 
}
.toploginex .eilogintitle,.header .toolbar .eilogintitle
{
   /* display: none;*/
}
.disloginlist > a,.distrlist > a,.header .account .distrlist > a
{
    display:inline-block;
    width: 25px;
    height:25px;
    margin-left:5px;
    position:relative;
    padding: 0 0;
}
.distrlist > a > em {
text-indent: -999px;
display: block;
width: 12px;
height: 12px;
position: absolute;
right: 0px;
bottom: 0px;
_right: 0px;
_bottom: -1px;
}
.distrlist  > A > em.isselect
{
    background: url('../images/ico_selected.png') no-repeat 0 0;
}

/** 新浪登录图标 **/
.disloginlist > A.login_sina
{
     background: url("../images/sina_tag_s.png") no-repeat 0 0;
}


/** 新浪发布图标 **/
.distrlist > A.tag_sina
{
     background-image: url("../images/sina_tag_s.png");
     background-repeat: no-repeat;
}

.eiloginfix,.eidistrfix
{
    clear:both;
    width:0;
    height:0;
}
#plpost #statebox .eilogintitle
{
    float:none;
}

/*  QQ登录图标 */
.disloginlist > A.login_qq
{
     background: url("../images/QQLOGO.png") no-repeat 0 0;
}
.distrlist > A.tag_qq
{
     background-image: url("../images/QQLOGO.png");
     background-repeat: no-repeat;
}

.distrlist > A.disable
{
    background-position: 0 0;
}
.distrlist > A.isselect
{
    background-position: 0 -25px;
}
.distrlist > A.invalid
{
    background-position: 0 -50px;
}
.distrlist > A:hover
{
   background-position: 0 0;
}