@charset "utf-8";


/***** reset *****/

*{margin:0px; padding:0px;}

body {font-size: 14px;font-family: "宋体,Arial"; line-height:26px; text-align:left; color: #333; background:#fff;}

a {outline-style:none; color:#555; text-decoration:none;}
a:link{	color: #555;}
a:hover {color: #517517; }

img {border:0px;}
li {list-style-type: none;}

.left,.pleft {float: left;}
.right,.pright {float: right;}
.clear{clear:both;}
.clearfix:after {clear: both;content: " ";display: block; font-size: 0; height: 0;visibility: hidden;}
.clearfix {display: inline-table;}

/* Hides from IE-mac */
 * html .clearfix {height: 1%;} .clearfix {display: block;} 
/* End hide from IE-mac */ 
/* Hides from IE7 */
 *+html .clearfix{height: 1%;} .clearfix {display: block;} 
/* End hide from IE7 */

/***** common *****/
.g-wrap {width: 1000px;margin: 0 auto;}

.wrap.width.margin-t {background-color: #FFF;}
.wrap_content {
    margin-top: 32px;
}
.margin_t0 {
    margin-top: 0px;
}
.margin_b0 {
    margin-bottom: 0px;
}


/***** function *****/
.f-fl {float: left;}
.f-fr {float: right;}
.f-cb:after {clear: both;content: " ";display: block; font-size: 0; height: 0;visibility: hidden;}
.f-tal {text-align: left;}
.f-tac {text-align: center;}
.f-tar {text-align: right;}




.quotationbg .bg_quotation_top {
    height: 17px;
    background: url("../images/bg_quotation_top.jpg") no-repeat scroll 0 0 transparent;
}
.quotationbg .bg_quotation_bottom {
    height: 17px;
    background: url("../images/bg_quotation_bottom.jpg") no-repeat scroll 528px 0 transparent;
}

/**** title-absolute1 ****/

.title-absolute1 {
    display: inline-block;
    position: relative;
}
.title-absolute1 .title,.title-absolute1 .opacitybg {
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #FFF;
}
.title-absolute1 .title {
    z-index: 1;
}
.title-absolute1 .opacitybg {
    width: 100%;
    background-color: #000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* ie8  */
    filter:alpha(opacity=60);    /* ie5-7  */
    opacity: 0.6;    /* css standard, currently it works in most modern browsers  */
    z-index: 0
}



.header {width:100%; border-bottom:1px #fff solid; background:#fff; margin:0 auto; overflow:hidden;border-bottom: 1px solid #dbdbdb;}
.hea_1{width:1000px; height:45px;line-height: 45px; margin:0 auto; padding:5px 0 0;}
.hea_1 .hea_logo {padding-right: 20px;}
.hea_1 li{float:left; font-size:14px;}
.hea_1 > span{float:left; padding:25px 0 0; display:block; font-size:14px;}
.hea_1 a{color:#4a4a4a;}

.hea_2{height: 104px;width:100%;  margin:0 auto; }
.m-guide {width: 622px;padding-left: 30px;}
.m-guide h1 {font-size: 48px;font-family: "Microsoft YaHei";height: 110px;line-height: 110px;}
.m-guide .u-intro {}
.hea_2 img {height: 191px;padding: 20px 15px 0 0;}


.hea_3{width:1000px;  margin:0 auto; padding-bottom:15px; overflow:hidden; background:#fff;}
.hea_3 ul{background:#000; display:block; height:28px;}
.hea_3 li{height:28px; font-size:14px; display:block; float:left; padding:0 15px; line-height:28px; border-right:1px #fff solid;}
.hea_3 li a{color:#fff;}




/*** account ***/
.account {
    padding-right: 16px;
}
.account a,.msg .loginbutton {
    font-weight: bold;
    padding: 5px 9px;
}

.account .loginbutton,.msg .loginbutton {
    background-color: #924242;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -2px 0 #6c2b2b inset;
    -moz-box-shadow: 0 -2px 0 #6c2b2b inset;
    -webkit-box-shadow: 0 -2px 0 #6c2b2b inset;
    color: #FFF;
    cursor: pointer;
}
.account .loginbutton:hover,.msg .loginbutton:hover {
    background-color: #851F1F;    
    box-shadow: 0 -2px 0 #5A1414 inset;
    -moz-box-shadow: 0 -2px 0 #5A1414 inset;
    -webkit-box-shadow: 0 -2px 0 #5A1414 inset;
}
.account .registerbutton {
    cursor: pointer;
}
.account Text {
    width: 75px;
}

/***** wrap *****/

.wrap {
    margin: 0 auto 30px;
}
.wrap_header {
    height: 44px;
    background: url("../images/bg_wrapheader.jpg") no-repeat scroll 0 0 transparent;
    padding-left: 98px;
}
.wrap_header .txt {
    float: left;
    background: url("../images/bg_wraptext.jpg") repeat-x scroll 0 0 transparent; 
    margin: 5px 0 3px;
    padding: 0 14px;
    text-indent: 0;
}
.wrap_header .txt,.wrap_header .txt a {
    height: 36px;
    line-height: 36px;
    font-family: "Microsoft YaHei";
    font-size: 24px;
    color: #FFF;
}
.wrap_header .linebg {
    float: left;
    height: 44px;
    width: 15px;
    background: url("../images/bg_wraptextbox.jpg") no-repeat scroll 0 0 transparent;   
    margin-left: 3px;
}

.width {
    width: 1000px;
}


/***** wrap-1 *****/
.wrap-1 {
    width: 1000px;
    padding: 35px 0;
}
.s-wrap {
    width: 1000px;
    margin: 0 auto;
/*    box-shadow: 0 5px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.4);    */
}

/**** section ****/

.section {
    clear: both;
}
.section_header {
    height: 48px;
    line-height: 48px;
    background: url("../images/bg_headline.jpg") no-repeat scroll 0 43px transparent;
    text-indent: 5px;
}
.section_header,.section_header a {
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #0f2f5b;
}


/**** mainbox ****/
.mainbox {
    width: 700px;
}

.u-series {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #404040;
}
.u-series strong {
    display: inline-block;
    font-weight: normal;
    background-color: #e9e9e9;
    padding: 0 10px;
}

.u-title {
    height: 62px;
    line-height: 62px;
    font-size: 32px;
    font-family: "Microsoft YaHei";
    margin-bottom: 13px;
    padding-left: 10px;
}
.u-bigpic {
    margin-bottom: 10px;
}
.m-wrap-1 {
    margin-top: 34px;
}
.m-box {
    
    background-color: #f5f5f5;
    padding: 12px 10px;
    font-family: "Microsoft YaHei";
}
.u-tips {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    color: #FFF;
    padding: 0 9px;
    background-color: #7a1a1a;
}
.m-box .u-smalltext {
    width: 620px;
    font-size: 16px;
}
.m-wrap .u-smalltext {
    width: 100%;
}
.u-content {
    font-size: 16px;
    margin-top: 20px;
}
.u-content h2 {
    height: 40px;
    line-height: 40px;
    border-top: 2px solid #747474;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #565656;
    background-color: #f4f4f4;
    margin: 27px 0 16px;
    padding-left: 10px;
}
.u-content p {
    text-indent: 2em;
    padding: 8px 0 8px 10px ;
}
.u-content a {
    color: #7a1a1a;
}

/*** digg_back ***/
.m-wrap-2 {
    margin-top: 34px;
}
.m-wrap-2 .u-header {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #7a1a1a;
    border-bottom: 1px solid #bfbfc3;
    padding-left: 10px;
}
.m-wrap-2 .u-header strong {
    font-weight: normal;
}
.m-wrap-2 .u-message {
    height: 84px;
    line-height: 84px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    color: #4c4c4c;
    text-align: center;
}
.digg_back {
    padding: 25px 200px;
}

.digg .num {
    width: 77px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-family: "Microsoft YaHei";
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;   
    font-size: 16px;
}
.top .num {
    color: #a32f2e;
    background-color: #ffe0de;
    border: 1px solid #f3cbc5;
    border-bottom: none;
}
.back .num {
    color: #3f8cb0;
    background-color: #dff0f7;
    border: 1px solid #bfe2f2;
    border-bottom: none;
}
.digg .link {
    width: 79px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
.digg .link a {
    color: #FFF;
}
.top .link {
    background-color: #cd362b;
    box-shadow: 0 -3px 0 #ac130f inset;
    -moz-box-shadow: 0 -3px 0 #ac130f inset;
    -webkit-box-shadow: 0 -3px 0 #ac130f inset;   
}
.back .link {
    background-color: #6bb8d6;
    box-shadow: 0 -3px 0 #4ba3ca inset;
    -moz-box-shadow: 0 -3px 0 #4ba3ca inset;
    -webkit-box-shadow: 0 -3px 0 #4ba3ca inset;   
}



/**** sidebox ****/
.sidebox {
    width: 240px;
}
.sidebox .section_head {
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #666;
}

.share .section_content {
    height: 32px;
    padding: 7px 0;
}
.share .section_head {
    border-bottom: none;
}
.u-txt {
    float: left;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #808080;
    padding-right: 15px;
    
}

#news_rolling{ height:350px; overflow:hidden;}


/* m-list */

.sidebox .m-list-1 .u-item {
    margin-bottom: 19px;
}

.sidebox .m-list-1 a {
    display: inline-block;
}
.sidebox .m-list-1 img {
    display: inline-block;
    width: 240px;
    height: 180px;
}
.sidebox .m-list-1 h2 {
    font-family: microsoft YaHei;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 38px;
}



.cont_pl{width:100%; margin:0 auto 15px; clear:both; font-size:14px; line-height:26px; background:#fff;}
.section_header_articlecontent {
    color: #c00000;
    font-family: "Microsoft YaHei";
    height: 32px;
    line-height: 32px;
    padding-top: 8px;
}


.bor1{border:none;}
.cl{clear:both;}
.ov{overflow:hidden;}
.le_2a{margin-right:0;}
.pad{padding-top:15px;}
.mar_b{margin:0 0 15px;}
.fl{float:left; padding:10px; font-size:14px;}


/*——底部开始*/
.footer {width:1000px; height:30px; overflow:hidden; margin:0 auto; background:#be001c; clear:both; text-align:center; font-size:14px; line-height:30px; color:#fff; font-size:12px;}
.footer a{color:#fff;}
.footer1 {width:1000px; height:60px; line-height: 60px; overflow:hidden; margin:0 auto; font-size:12px; text-align:center;}
.footer1 font{font-size:12px; margin:0 auto;}
/*——底部结束*/

.daoy{padding:10px; font-size:14px; line-height:26px;}
.pad_t{padding-top:0;}
.pad_le{ padding-left:35px;}




/*--------------- login modal -----------------*/
#lean_overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.loginmodal {
    width: 545px;
    background: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.loginmodal .modaletools {
    text-align: right;
}
.loginmodal .modaletools a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    width: 26px;
    text-align: center;
    text-indent: 1px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    box-shadow: 2px 3px 7px #000;
    -moz-box-shadow: 2px 3px 7px #000;
    -webkit-box-shadow: 2px 3px 7px #000;
    background-color: #FFF;
    margin: -8px -8px 0 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.loginmodal form {
    padding: 0 40px 30px;
}
.loginmodal form strong {
    font-size: 22px;
    font-family: "Microsoft YaHei";
    color: #797373;
}

.loginmodal .login {
    width: 228px;
}

.loginmodal form .username {
    background: url("../images/bg_username.png") no-repeat scroll 0 0 #c4c4c4;
}
.loginmodal form .password {
    background: url("../images/bg_password.png") no-repeat scroll 0 0 #c4c4c4;
}
.loginmodal form .txtfield {
    height: 34px;
    line-height: 34px;
    border: 1px solid #cccccc;
    color: #c7c7c7;
    margin: 14px 0 0 0;
}

.loginmodal form .oninput {
    background-color: #ffca3c;
    border: 1px solid #ffca3c;
}

.loginmodal form .txtfield input {
    height: 24px;
    line-height: 24px;
    width: 184px;
    font-size: 14px;
    border: none;
    padding: 5px 0 5px 3px;
    margin-left: 39px;
    background-color: #FFF;
    color: #c7c7c7;    
}

.loginmodal form .forgetmsg {
    padding: 13px 0;
}
.loginmodal form .forgetmsg a {
    font-size: 12px;
    color: #8a5b22;    
}
.loginmodal form .inputSub {
    height: 38px;
    line-height: 38px;
    width: 100%;
    background-color: #c93b30;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -4px 0 #a91813 inset;
    -moz-box-shadow: 0 -4px 0 #a91813 inset;
    -webkit-box-shadow: 0 -4px 0 #a91813 inset;
    border: none;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}


.loginmodal form .reg {
    width: 160px;
    padding-top: 36px;
    color: #666;
}
.loginmodal form .regbutton {
    height: 30px;
    line-height: 30px;
    width: 100px;
    background-color: #eeb829;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -3px 0 #e48d10 inset;
    -moz-box-shadow: 0 -3px 0 #e48d10 inset;
    -webkit-box-shadow: 0 -3px 0 #e48d10 inset;
    border: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}
/*--------------- login modal -----------------*/


/*** pl_list ***/
.pl_list .left {
    float: left;
}
.pl_list .right {
    float: right;
}

.pl_list .section_content {
    padding: 20px 0;
}
.pl_list .avatar {
    padding-right: 12px;
}
.pl_list .avatar img {
    height: 64px;
    width: 64px;
}

.pl_list .inputarea {
    width: 620px;
}
.pl_list .inputarea .retext {
    border: 1px solid #d4d4d4;
    padding: 0 5px 5px;
    box-shadow: 0 1px 0 0 #e9e8e8 inset;
    -moz-box-shadow: 0 1px 0 0 #e9e8e8 inset;
    -webkit-box-shadow: 0 1px 0 0 #e9e8e8 inset;    
}
.pl_list .inputarea .retext .state {
    padding: 25px 0 20px;
    text-align: center;
}
.pl_list .inputarea .subtool {
    height: 30px;
    line-height: 30px;
    padding: 4px 0;
    font-size: 12px;
    color: #a5a5a5;
}
.pl_list .inputarea .subtool a {
    color: #a5a5a5;   
}
.pl_list .inputarea .subtool .submitbutton {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #FFF;
    background-color: #ba4242;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 -3px 0 #911a1a inset;
    -moz-box-shadow: 0 -3px 0 #911a1a inset;
    -webkit-box-shadow: 0 -3px 0 #911a1a inset;
    padding: 4px 15px 5px;
    cursor: pointer;
}
.pl_list .inputarea .subtool .dissubmitbutton {
    background-color: #C8C8C8;
    box-shadow: 0 -3px 0 #B2B2B2 inset;
    -moz-box-shadow: 0 -3px 0 #B2B2B2 inset;
    -webkit-box-shadow: 0 -3px 0 #B2B2B2 inset;
}
.pl_list .inputarea textarea {
    width: 100%;
    border: none;
    background-color: #FFF;
    margin-top: 5px;
}
.pl_list .inputarea .subtool .facebutton {
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
    background: url("../images/bg_facebutton.png") no-repeat scroll 0 5px transparent;
}
.pl_list .inputarea .subtool .facebutton:hover {
    background: url("../images/bg_facebuttonhover.png") no-repeat scroll 0 5px transparent;    
}

.pl_list .comment_list li {
    padding: 14px 0 10px;
    border-bottom: 1px solid #e3e3e3;
}
.pl_list .comment_list .userpic img {
    width: 64px;
    height: 64px;
}
.pl_list .comment_list .comment {
    width: 620px;
}
.pl_list .comment_list .property strong {
    color: #a40000;
}
.pl_list .comment_list .property strong a {
    color: #a40000;
}
.pl_list .comment_list .property em {
    color: #8a5b22;
    font-style: normal;
    font-size: 12px;
}
.pl_list .comment_list .pltext {
    padding: 10px 0;
}
.pl_list .comment_list .interaction {
    text-align: right;
    font-size: 12px;
}
.pl_list .comment_list .interaction a {
    color: #666666;
    font-size: 12px;
}

.pl_list .readallpl {
    height: 24px;
    line-height: 24px;
    margin-top: -1px;
    border-top: 1px solid #FFF;
}
.pl_list .readallpl a {
    font-size: 12px;
    color: #a00000;
    display: block;
    background-color: #ffdcdc;    
}
.pl_list .readallpl a:hover {
    background-color: #f8baba;    
}

/*--------------- mF_tbhuabao -----------------*/

/***** mF_tbhuabao *****/
.myFocus {width: 334px;}
.mF_tbhuabao {background:#EAEAEA;overflow:visible;position:relative;z-index: 0;}
.mF_tbhuabao .loading{ position:absolute; width:100%; height:100%;top: 0;left: 0; background:#fff url("../images/focus_loading.gif") center no-repeat; z-index:9;}
.mF_tbhuabao .pic,.mF_tbhuabao .pic ul{width:380px;height:285x; position:absolute;top:0;left:0;overflow:hidden;}
.mF_tbhuabao img {width:380px;height:285x;}
.article_mainlist .mF_tbhuabao .pic,.mF_tbhuabao .pic ul{width:235px;height:180pxx; }
.mF_tbhuabao .pic li{position:relative;float:left;overflow:hidden;}
.mF_tbhuabao .txt li{
    position:absolute;z-index:2;height:40px;line-height:40px;overflow: hidden;display:none;text-align: center;
}
.mF_tbhuabao .scroll_bg {
    position:absolute;
    width: 100%;
    height:40px;
    line-height:40px;
    background-color: #000;
    top: 245px;
    left: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* ie8  */
    filter:alpha(opacity=60);    /* ie5-7  */
    opacity: 0.6;    /* css standard, currently it works in most modern browsers  */
}
.index .mF_tbhuabao .scroll_bg {
    top: 212px;
}


/*默认标题高度*/
.mF_tbhuabao .txt li a{color: #FFF;position:relative;z-index:1;height: 40px;line-height: 40px;font-size:18px;font-family: "Microsoft YaHei";text-decoration:none;}/*标题样式*/
.mF_tbhuabao .txt li p {color: #000000;position: absolute;top: 61px;width: 248px;}
.mF_tbhuabao .txt li b{display:block;height:100%;width:100%;position:absolute;top:0;left:0;filter:alpha(opacity=30);opacity:0.3;}
.mF_tbhuabao .dot{position:absolute;top:213px;left:0;height:32px;line-height:28px;width:100%;text-align:center;}
.mF_tbhuabao .dot li{display:inline;margin:0 3px;}
.mF_tbhuabao .dot li a{color:#999;font-size:26px;text-decoration:none;-webkit-transition:color 0.4s;-moz-transition:color 0.4s;-o-transition:color 0.4s;}
.mF_tbhuabao .dot li.current a{color:#f60;}
.mF_tbhuabao .prev,.mF_tbhuabao .next{font:700 53px/58px arial;width:37px;height:65px;overflow:hidden;position:absolute;z-index:4;left:0;cursor:pointer;}
.mF_tbhuabao .next{left:auto;right:0;}
.mF_tbhuabao .prev a,.mF_tbhuabao .next a{display:block;color:#F6F6F6;text-align:center;text-decoration:none;}
.mF_tbhuabao .prev a:hover,.mF_tbhuabao .next a:hover{color:#f60;}

/*--------------- mF_tbhuabao end ----------------*/

/** 第三方社交样式 **/
.eilogintitle
{
    /*display:inline-block;*/
    padding-top:10px;
}
.header .account .toploginex span,.header .hea_1 .account .toploginex span,.header .hea_1 .account .toploginex
{
    padding-top:0;
    padding-bottom: 0; 
}
.header .hea_1 .account .toploginex
{
    float:none;
    line-height:normal;
    display:inline-block;
}
.header .hea_1 .account .toploginex > span
{
    padding-top:10px;
}
.poploginex .eilogintitle
{
   padding-top:0; 
}
.toploginex .eilogintitle,.header .toolbar .eilogintitle
{
   /* display: none;*/
}
.disloginlist > a,.distrlist > a,.header .account .distrlist > a
{
    display:inline-block;
    width: 25px;
    height:25px;
    margin-left:5px;
    position:relative;
    padding: 0 0;
}
.distrlist > a > em {
text-indent: -999px;
display: block;
width: 12px;
height: 12px;
position: absolute;
right: 0px;
bottom: 0px;
_right: 0px;
_bottom: -1px;
}
.distrlist  > A > em.isselect
{
    background: url('../images/ico_selected.png') no-repeat 0 0;
}

/** 新浪登录图标 **/
.disloginlist > A.login_sina
{
     background: url("../images/sina_tag_s.png") no-repeat 0 0;
}


/** 新浪发布图标 **/
.distrlist > A.tag_sina
{
     background-image: url("../images/sina_tag_s.png");
     background-repeat: no-repeat;
}

.eiloginfix,.eidistrfix
{
    clear:both;
    width:0;
    height:0;
}
#plpost #statebox .eilogintitle
{
    float:none;
}

/*  QQ登录图标 */
.disloginlist > A.login_qq
{
     background: url("../images/QQLOGO.png") no-repeat 0 0;
}
.distrlist > A.tag_qq
{
     background-image: url("../images/QQLOGO.png");
     background-repeat: no-repeat;
}

.distrlist > A.disable
{
    background-position: 0 0;
}
.distrlist > A.isselect
{
    background-position: 0 -25px;
}
.distrlist > A.invalid
{
    background-position: 0 -50px;
}
.distrlist > A:hover
{
   background-position: 0 0;
}